<div class="row">
  <div class="col-md-3">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Unix shell (continued)</td> </tr>
      <tr> <td>17:00</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Programming with Python, Part 1</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Programming with Python(continued)</td> </tr>
      <tr> <td>17:00</td>  <td>Adjourn</td> </tr>
    </table>
  </div>  
    <div class="col-md-3">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Programming with Python, Part 2</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Programming with Python(continued)</td> </tr>
      <tr> <td>17:00</td>  <td>Adjourn</td> </tr>
    </table>
  </div>  
  <div class="col-md-3">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td> Version Control with Git </td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Version Control with Git (continued)</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
